@import url("global.css")
@import url("common.css")

.dialog, .pop {
    color: $color;
    font-size: $size;
}

.show {
    font-color: $color;
}

.warning {
    font-size: xxxx;
}
.movie {
    // nihao
    /**/
    transform:rotate(7deg, 9deg);
    -ms-transform:rotate(7deg, 9deg);     /* IE 9 */
    -moz-transform:rotate(7deg, 9deg);    /* Firefox */
}
@define-mixin test $size: 12, $color:blue {
    color: $color;
    font-size: $size;
}

@define-mixin test2 $size: 12, $color:blue {
    .dialog {
        color: $color;
        font-size: $size;
    }
}
.mixin {
    @test $size 14 blue
}