.a {
    border: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 10px 2px 3px  
}
.a2 {
    border: 2px dashed #fff;
    border-left: 3px solid #fff;
    border-radius: 12px 6px  
}

.b {
    margin: 0px 20px;
    padding: 10px 0px;
}
.c {
    margin: 0;
    padding: 1px 2px 3px 4px;
}

.d {
    margin: 1px 3px 4px;
}